# Python cache
__pycache__/
*.py[cod]

# Django DB and settings
*.sqlite3
*.log
*.env

# Virtual environments
venv/
env/

# IDEs
.vscode/
.idea/

# Static/media
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db
